public net.minecraft.client.renderer.GameRenderer resourcePool # resourcePool
public net.minecraft.client.renderer.entity.EntityRenderDispatcher render(Lnet/minecraft/world/entity/Entity;DDDFLcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;I)V # render
public net.minecraft.world.level.ServerExplosion calculateExplodedPositions()Ljava/util/List; # calculateExplodedPositions
public net.minecraft.world.entity.Entity moveTowardsClosestSpace(DDD)V # moveTowardsClosestSpace
public net.minecraft.world.entity.item.FallingBlockEntity blockState # blockState
#public net.minecraft.world.level.block.entity.BlockEntity saveAdditional(Lnet/minecraft/nbt/CompoundTag;Lnet/minecraft/core/HolderLookup$Provider;)V # saveAdditional
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen findSlot(DD)Lnet/minecraft/world/inventory/Slot; # findSlot
public net.minecraft.world.entity.animal.Cat$CatTemptGoal
public net.minecraft.world.entity.animal.horse.Llama$LlamaHurtByTargetGoal
public net.minecraft.world.entity.Entity dimensions # dimensions
public net.minecraft.world.entity.Entity reapplyPosition()V # reapplyPosition
public net.minecraft.client.renderer.block.ModelBlockRenderer renderQuadList(Lcom/mojang/blaze3d/vertex/PoseStack$Pose;Lcom/mojang/blaze3d/vertex/VertexConsumer;FFFLjava/util/List;II)V # renderQuadList
public net.minecraft.client.renderer.RenderPipelines register(Lcom/mojang/blaze3d/pipeline/RenderPipeline;)Lcom/mojang/blaze3d/pipeline/RenderPipeline; # register